<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Tickets</title>
</head>
<body>
<h3 th:text="${message}"></h3>
<table>
<tbody>
<tr>
  <th>id</th>
  <th>event-id</th>
  <th>user-id</th>
  <th>place</th>
  <th>category</th>
</tr>
<tr>
  <td th:text="${ticket.id}"></td>
  <td th:text="${ticket.eventId}"></td>
  <td th:text="${ticket.userId}"></td>
  <td th:text="${ticket.place}"></td>
  <td th:text="${ticket.category}"></td>
</tr>
</tbody>
</table>
</body>
</html>
